<div class="container" ng-controller="PassengerCtrl">
    <br>
    <br>
    <form style="background-color: #E0E0E0;">
        <br>
        <h2 style="margin-left: 100px; font-weight: bold; color: red;">THÔNG TIN HÀNH KHÁCH</h2>
        <br>
        <div id="tongquat">
            <div id="infomation0" style="margin-top: 20px;">
                <div style="position: relative; float: left; margin-left: 100px;">
                    <p style="font-weight: bold;">Danh xưng</p>
                    <div class="dropdown pull-left" style="position: relative;">
                        <input type="text" class="btn btn-default dropdown-toggle" type="button" id="danhxung0" data-toggle="dropdown" readonly required style="width: 75px;">
                        <span class="caret"></span>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="danhxung0">
                            <li role="presentation"><a role="menuitem" tabindex="-1" onclick="chooseDanhXung('danhxung0', 'MR')">MR</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" onclick="chooseDanhXung('danhxung0', 'MR')">MS</a></li>
                        </ul>
                    </div>
                </div>
                <div style="display: inline-block; margin-left: 10px;">
                    <p style="font-weight: bold;">Đệm và Tên</p>
                    <input type="text" id="demvaten0" data-toggle="dropdown" required style="height: 33px">
                </div>
                <div style="display: inline-block; margin-left: 10px;">
                    <p style="font-weight: bold;">Họ</p>
                    <input type="text" id="ho0" data-toggle="dropdown" required style="height: 33px">
                </div>
            </div>

        </div>
        <br>
        <br>
        <button type="submit" name="booking" value="Thanh toán" style="margin-left: 800px;" class="btn btn-warning" ng-click="insertPassenger()"><a href="#/payment">Thanh toán</a> </button> 

        <br>
        <br>
    </form>
</div>
